*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246, 246, 246);
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  height: 80vh;
}
/* todoList list base */
#toDoList {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 20px 30px rgba(0, 0, 0, 0.137);
}

::placeholder {
  font-family: "inter", sans-serif;
  font-style: italic;
  font-size: 14px;
}

/* title base */
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 23px;
  padding-left: 10px;
  height: 50px;
}

/* h1 text */
.ttdl {
  font-family: "inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  padding-top: 8px;
  text-align: center;
  width: 100%;
}

/* icon */
i {
  border: none;
  background: none;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

/* task list base */
#inputList {
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

.inputTask {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-top: 1px solid gray;
  height: 50px;
  padding: 0 10px;
}

/* refresh icon */
.inputTask i {
  rotate: 90deg;
  cursor: pointer;
}

/* input text  */
#addList {
  width: 100%;
  height: 45px;
  border: none;
}

.submiticon {
  padding: 6px;
}

.remove-edit {
  display: flex;
  justify-items: flex-end;
  margin-left: auto;
  padding-right: 23px;
  text-decoration: none;
}

/* Clear task button */
#btnClear {
  height: 50px;
  color: rgb(147, 147, 147);
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-top: 1px solid gray;
  font-size: 18px;
  font-family: "inter", sans-serif;
  cursor: pointer;
}

/* task list base */
.list {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 50px;
  border-top: 1px solid gray;
  padding-left: 10px;
  list-style: none;
}

/* text */
.tasks label {
  font-family: "inter", sans-serif;
  padding-left: 10px;
  width: 100%;
}

.to-do.editing {
  background-color: rgb(230, 230, 184); /* full width yellow */
}
.remove_btn {
  display: none;
}
.to-do.editing .remove_btn {
  display: inline-block; /* show delete button during edit */
}
.text.completed {
  text-decoration: line-through;
}
.completed {
  text-decoration: line-through;
  color: gray;
}

/* text */
.lists li:nth-child(3) {
  display: flex;
  justify-items: flex-end;
  margin-left: auto;
  padding-right: 15px;
  text-decoration: none;
}

/* text */
input {
  font-family: "inter", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 100;
}

/* text */
input:focus {
  outline: none;
}

/* text */
.text {
  height: 45px;
  padding-left: 5px;
  border: none;
  background: none;
  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/* edit button */
.edit_list_btn {
  cursor: pointer;
  border: none;
  background: none;
}

/* remove button */
.remove_btn {
  cursor: pointer;
  display: none;
  border: none;
  background: none;
}

/* Hide default checkbox */
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #888; /* grey border */
  border-radius: 50%; /* makes it round */
  background-color: #fff;
  cursor: pointer;
  position: relative;
  outline: none;
  margin: 0;
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #555; /* dark grey check */
  border-radius: 50%; /* round dot */
}

.to-do {
  background: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
  list-style: none;
  border-bottom: 0.01px solid #d3d3d3;
}

.task-filters {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filter-btn {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 5px;
}
.filter-btn.active {
  background-color: #d3d3d3;
}
